$color_1: #fff;
$background-color_1: rgb(33, 33, 124);

.row {
	.cards {
		width: 25rem;
		height: 40rem;
		padding: 0%;
		border: none;
		align-items: center;
		box-shadow: 0rem .5rem 1rem rgba(0, 0, 0, 0.3);
		display: flex;
		.colorBtn {
			text-align: center;
			width: 12rem;
			cursor: pointer;
			background-color: $background-color_1;
			color: $color_1;
			align-items: center;
		}
	}
	
}

