$color_1: #fff;
$background-color_1: rgb(33, 33, 124);

.row {
	.cards {
		margin-left: 1rem;
		width: 22rem;
		height: 40rem;
		padding: 0%;
		border: none;
		align-items: center;
		box-shadow: 0rem .5rem 1rem rgba(0, 0, 0, 0.3);
		display: flex;

		.colorBtn {
			text-align: center;
			width: 12rem;
			cursor: pointer;
			background-color: $background-color_1;
			color: $color_1;
			align-items: center;
		}

		.colorBtn:hover {
			transform: translate(3px, 5px);
		}

		.productoImagen {
			width: 90%;
			height: 21rem;

			border-radius: .5rem;
			margin-bottom: 1rem;
		}
		
	}

}