$color-ramp :#171F95;
$color_1: #fff;
$color_2: #000;
$color_3: gray;
$font-family_1: Georgia, 'Times New Roman', Times, serif;
$background-color_1: rgb(44, 44, 209);
$background-color_2: #e8e8e8;
$background-color_3: rgb(33, 33, 124);
$background-color_4: #162631;